@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(59, 56, 56); */
    /* color: rgb(240, 229, 229); */
    background-color: #00203f;
    color: #adf0d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 4rem;
    margin:5rem 2rem 2rem 3rem ;
    width: fit-content;
    text-align: center;
}
@media screen and (max-width:525px) {
    h1{
        font-size: 3rem;
    }
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.big-text {
    font-weight: bold;
    font-size: 13rem;
    line-height: 1;
    margin: 1rem 2rem;
}
@media screen and (max-width:768px) {
    .big-text{
        font-size: 8rem;
    }
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}
input{
    background-color: #f5eeee;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
}
.popup{
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #909090;
    position: absolute;
    top: 45%;
    padding: 1rem;
    display: none;
}
.addpop{
    display: flex;    
}
.btn{
    border: none;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 1px;
    font-family: Arial;
    color: #000;
    font-size: 1rem;
    background: #f0e5e5;
    margin: .5rem;
    padding: .6rem 5rem;
    text-decoration: none;
    font-weight: bolder;
  }
  .edit-btn{
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: none;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 3px;
    font-family: Arial;
    color: #000;
    font-size: 1rem;
    background: #f0e5e5;
    /* padding: .2rem .5rem; */
    text-decoration: none;
    font-weight: normal;
    background-color: #00203f;
  }
  .svg{
    width: 25px;
  }